Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteRule ^application/ - [F,L]
RewriteRule ^system/ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php/$1 [L]